.hidden{
    display:none!important
}

.pavp-wrapper{
    width:640px;height:480px;position:absolute;top:50%;left:50%;margin:-240px 0 0 -320px;border-radius:5px;overflow:hidden}
.pavp-wrapper .view-wrap{
    position:relative}
.pavp-wrapper .stage{
    background-color:#444;width:640px;height:480px
}

.pavp-wrapper .controls{
    position:absolute;top:0;left:0;width:100%;height:100%;z-index:99}
.pavp-wrapper .controls .record{
    position:absolute;bottom:20px;left:50%;width:60px;height:60px;margin:0 0 0 -30px;background-color:rgba(255, 255, 255, .8);border:1px solid rgba(0, 0, 0, .8);border-radius:50%;text-align:center;line-height:60px}
.pavp-wrapper.is-video .controls .record{
    display:none}
.pavp-wrapper .controls .record span:not(.timer){
    display:inline-block;vertical-align:middle;width:30px;height:30px;line-height:30px;background-color:rgb(250,36,8);border-radius:50%}
.pavp-wrapper.is-recording .controls .record span:not(.timer){
    border-radius:4px}
.pavp-wrapper .controls span.timer{
    position:absolute;bottom:100px;color:#fff;font-size:11px;width:100px;text-align:center;left:50%;margin:0 0 0 -50px;text-shadow:0 1px black}
.pavp-wrapper .controls .header{
    display:none;height:40px;position:absolute;top:20px;left:0;right:0;padding:0 25px;color:#fff}
.pavp-wrapper.is-video .header{
    display:block}
.pavp-wrapper .controls .header .control{
    display:inline-block;height:40px;line-height:40px;width:80px;background-color:rgba(0, 0, 0, 0);text-align:center;border-radius:3px;text-shadow:0 1px 0 black}
.pavp-wrapper .controls .header .right{
    float:right}
.pavp-wrapper .control{
    cursor:pointer
}

.pavp-wrapper .grid-lines{
    position:absolute;top:0;left:0;width:100%;height:100%;background-color:transparent;
    background-image:linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .1) 25%, rgba(255, 255, 255, .1) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .1) 75%, rgba(255, 255, 255, .1) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .1) 25%, rgba(255, 255, 255, .1) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .1) 75%, rgba(255, 255, 255, .1) 76%, transparent 77%, transparent);background-size:50px 50px;
}

.pavp-wrapper .playback{
    cursor:pointer;position:absolute;bottom:20px;left:50%;width:60px;height:60px;margin:0 0 0 -30px;background-color:transparent;border:3px solid rgba(255, 255, 255, .8);border-radius:50%;text-align:center;display:none}
.pavp-wrapper.is-video .playback{
    display:block}
.pavp-wrapper .playback span{
    position:absolute;top:50%;left:50%;margin:-10px 0 0 -10px;display:block;width:0;height:20px;border-color:transparent transparent transparent #fff;cursor:pointer;border-style:solid;box-sizing:border-box;border-width:12px 0 12px 20px;margin:-12px 0 0 -10px}
.pavp-wrapper.is-playing .playback span{
    border-style:double;border-width:0px 0 0px 20px
}

.pavp-wrapper.is-uploading .controls{
    display:none;
}

.showbox{
    box-sizing:border-box;display:none;position:absolute;z-index:99;top:0;bottom:0;left:0;right:0;padding:5%;background:inherit;background-attachment:fixed;overflow:hidden}
.showbox:before{
    box-sizing:border-box;content:"";position:absolute;top:-20px;left:0;width:200%;height:200%;background:inherit;background-attachment:fixed;-webkit-filter:blur(4px);filter:blur(4px)}
.showbox:after{
    box-sizing:border-box;content:"";position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(255,255,255,.6)}
.pavp-wrapper.is-uploading .showbox{
    display:block}
.loader{
    position:absolute;z-index:101;width:100px;height:100px;top:50%;left:50%;margin:-50px 0 0 -50px}
.loader:before{
    content:'';display:block;padding-top:100%}
.circular{
    -webkit-animation:rotate 2s linear infinite;animation:rotate 2s linear infinite;height:100%;-webkit-transform-origin:center center;transform-origin:center center;width:100%;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto} 
.path{
    stroke-dasharray:1, 200;stroke-dashoffset:0;-webkit-animation:dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;animation:dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;stroke-linecap:round
}
  
@-webkit-keyframes rotate{
    100%{
        -webkit-transform:rotate(360deg);transform:rotate(360deg)
    }
}
@keyframes rotate{
    100%{
        -webkit-transform:rotate(360deg);transform:rotate(360deg)
    }
}
@-webkit-keyframes dash{
    0%{
        stroke-dasharray:1, 200;stroke-dashoffset:0}
    50%{
        stroke-dasharray:89, 200;stroke-dashoffset:-35px}
    100%{
        stroke-dasharray:89, 200;stroke-dashoffset:-124px
    }
}
@keyframes dash{
    0%{
        stroke-dasharray:1, 200;stroke-dashoffset:0}
    50%{
        stroke-dasharray:89, 200;stroke-dashoffset:-35px}
    100%{
        stroke-dasharray:89, 200;stroke-dashoffset:-124px
    }
}
@-webkit-keyframes color{
    100%, 0%{
        stroke:#d62d20}
    40%{
        stroke:#0057e7}
    66%{
        stroke:#008744}
    80%,90%{
        stroke:#ffa700;
    }
}
@keyframes color{
    100%, 0%{
        stroke:#d62d20}
    40%{
        stroke:#0057e7}
    66%{
        stroke:#008744}
    80%, 90%{
        stroke:#ffa700;
    }
}