<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Welcome to Get Qualified</title>
    <style>
        .btn:hover {
            text-decoration: none;
        }
    </style>
</head>

<body>
<table style="border-collapse: collapse; border: #ccc solid thin; width: 400px; margin: auto; font: normal 14px 'Helvetica Neue', sans-serif" cellpadding="17">
    <tr>
        <td style="text-align: center; padding-bottom: 15px;">
            <img src="https://getqualified.work/images/logo.png" style="padding: 30px; width: 160px;" alt="Get Qualified Logo" />
        </td>
    </tr>
    <tr>
        <td>
            <p>Dear {{ user }},</p>
            <p>{{ contact_person }} has added you as a co-administrator on the {{ company }} GetQualified account.</p>

            <p>
                GetQualified is Recruitment Software Solution Provider that makes hiring simple and quick. Our online testing system provides an accurate intelligence and competency profile of each job applicant in as little as 24 hours, so you can make significantly better, and faster hiring decisions. GetQualified helps you hire smart through an automated ranking of the applicants in order to identify the top candidates. You are able to view candidate video profiles at your convenience and share promising profiles with colleagues. With GetQualified you reduce the time you spend recruiting by 70%. Train new hires and refresh the knowledge of existing workers through our portfolio of soft skills and job based training. And if you can’t find the course you want on our platform, simply let us know and we will build the appropriate course for you.
            </p>
            <p>Please click the following button to proceed.</p>

            <a href="{{ url }}">Join Team</a>
        </td>
    </tr>
    <tr>
        <td><br>
            <p>
                Regards,<br>
                GQ Team.<br>
                support@getqualified.work
            </p>
            <br>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 10px; background: #e0e0e0; font-size: 13px; text-align: center;">
            Information in this message is confidential. If you are not the intended recipient, please notify the sender and delete the
            message from your system immediately. Please note that we apply spam filters. If you do not receive a reply to an
            important message, please contact Get Qualified by telephone or fax.
        </td>
    </tr>
</table>

</body>
</html>