<p>Dear {{ user }},</p>

<p><strong>{{ company }}</strong> requires that all applicants register with GetQualified as part of their process for filling the
role of {{ job_title }}.<p>
<p>Please click on the button below to register:</p>

<a href="{{ url }}">Register Now</a>

